
    .logo img {
        width: 60px;
        height: 50px;
        border-radius: 80px;
        margin: 10px;
        padding: 5px 0px;
    }

    nav {
        display: flex;
        position: absolute;
        height: 70px;

        align-items: flex-start;

        font-family: 'Times New Roman', Times, serif;
        font-size: 1.19rem;




    }

    ul {
        display: flex;

    }

    ul li {

        list-style: none;
        padding: 8px 44px;
        margin: -1px;
        justify-content: space-between;



    }

    ul li a {
        text-decoration: none;
        cursor: pointer;
        color: whitesmoke;

    }

    ul li a:hover {
        color: bisque;
    }

   

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 80vh;
        top: 0%;
        right: 0%;
        left: 0%;
        background: url('https://images.unsplash.com/photo-1523905330026-b8bd1f5f320e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG90JTIwZm9vZHxlbnwwfHwwfHw%3D&w=1000&q=80') no-repeat center center/cover;






    }

    .h1-heading {
        display: flex;
        font-size: 2.89rem;
        align-items: center;
        justify-content: center;
        color: white;


    }

    .section1 div p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 0.99rem;
        margin: 12px;
        padding: 4px 4px;
        color: black;
    }

    .box {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 378px;
        height: 358px;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 28px;
        float: left;
        justify-content: space-evenly;
        box-shadow: 10px 10px rgb(136, 102, 102);

    }



    .h2-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 44px;
        font-size: 1.59rem;
    }

    .p-section2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 34px;
        font-size: 1.19rem;
    }

    .btn {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 20px;
        background-color: bisque;
        color: black;
        border: 2px solid black;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: -4px -4px rgb(154, 148, 77);

    }

    .btn:hover {
        color: black;
        background-color: rgb(132, 130, 92);
    }

    #img1 img {
        width: 202px;
        height: 194px;
        display: block;
        margin: 4px -62px 109px 55px;
        padding: -6px 4px;
    }

    #h1 {
        display: flex;
        justify-content: center;
        padding: 4px 4px;
        margin: 210px 115px 29px -91px;
    }

    #b1 {
        display: flex;
        padding: 2px 3px;
        margin: 257px 4px 57px -227px;

    }

    #img2 img {
        width: 202px;
        height: 194px;
        display: block;
        margin: 4px -62px 109px 55px;
        padding: -6px 4px;


    }

    #h2 {
        display: flex;
        justify-content: center;
        padding: 4px 4px;
        margin: 210px 62px 29px -126px;
    }

    #b2 {
        display: flex;
        padding: 2px 3px;
        margin: 257px 4px 57px -187px;


    }


    #img3 img {
        width: 202px;
        height: 194px;
        display: block;
        margin: 29px -43px 109px 97px;
        padding: -6px 4px;
    }

    #h3 {
        display: flex;
        justify-content: center;
        padding: 4px 4px;
        margin: 222px -250px 27px 33px;
    }

    #b3 {
        display: flex;
        padding: 2px 3px;
        margin: 257px 4px 59px -156px;
    }

    #img4 img {
        width: 202px;
        height: 194px;
        display: block;
        margin: 4px -62px 109px 55px;
        padding: -6px 4px;
    }

    #h4 {
        display: flex;
        justify-content: center;
        padding: 4px 4px;
        margin: 210px 102px 29px -91px;
    }

    #b4 {
        display: flex;
        padding: 2px 3px;
        margin: 257px 4px 57px -187px;

    }


    .btn {
        box-sizing: border-box;
        border: 2px solid black;

        background-color: bisque;
        color: black;
        border: 2px solid black;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: -4px -4px rgb(154, 148, 77);

    }




    .section2 img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;
        height: 194px;
        margin-top: 48px;
    }

    .image {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 378px;
        height: 358px;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 28px;

        float: left;
        justify-content: space-evenly;
        box-shadow: 10px 10px rgb(136, 102, 102);

    }

    .btn1 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 40px;
        background-color: bisque;
        color: black;
        border: 2px solid black;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: -4px -4px rgb(154, 148, 77);
        margin: 270px -21px 6px -210px;

    }

    .btn:hover {
        color: black;
        background-color: rgb(132, 130, 92);
    }

    .h4-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 4px;
        margin: 292px -52px -27px -260px;
    }

    /* .poweredby img {
        width: 400px;
        height: 300px;
        display: flex;
        border: 2px solid black;
        margin: 2px;

    }



    .poweredby {
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    @media(max-width:767px)
    {
        .h1-heading{
font-size: 1.29rem;

        }
        .section1{
            width: 100%;
        }
        .para1{
            font-size:1rem;
        }
    }